name: Deploy 1Panel

on:
  workflow_dispatch:

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 迁出代码
        uses: actions/checkout@v3
        
      - name: 检查服务器配置
        id: check_server
        run: |
          echo -e "已知CPU型号(性能降序): 7763，8370C，8272CL，8171M，E5-2673\n"
          echo "--------------------------CPU信息--------------------------"
          echo "CPU物理数量: $(cat /proc/cpuinfo | grep 'physical id' | sort | uniq | wc -l)"
          echo "CPU核心数量: $(nproc)"
          echo -e "CPU型号信息:$(cat /proc/cpuinfo | grep -m1 name | awk -F: '{print $2}')\n"
          echo "--------------------------内存信息--------------------------"
          echo "已安装内存详细信息:"
          echo -e "$(sudo lshw -short -C memory | grep GiB)\n"
          echo "--------------------------硬盘信息--------------------------"
          echo "硬盘数量: $(ls /dev/sd* | grep -v [1-9] | wc -l)" && df -hT
          echo "--------------------------网络信息--------------------------"
          curl -s -4 ipinfo.io > raw_net_info
          cat raw_net_info | jq -r '
            "IP地址           \(.ip)\n" +
            "所在城市         \(.city)\n" +
            "所在区域         \(.region)\n" +
            "国家             \(.country)\n" +
            "地理位置         \(.loc)\n" +
            "组织             \(.org)\n" +
            "邮政编码         \(.postal)\n" +
            "所在时区         \(.timezone)\n"'

          echo "public_ip=$(cat raw_net_info | jq -r '.ip')" >> $GITHUB_OUTPUT
          echo "city=$(cat raw_net_info | jq -r '.city')" >> $GITHUB_OUTPUT
          echo "region=$(cat raw_net_info | jq -r '.region')" >> $GITHUB_OUTPUT
          echo "country=$(cat raw_net_info | jq -r '.country')" >> $GITHUB_OUTPUT
          echo "loc=$(cat raw_net_info | jq -r '.loc')" >> $GITHUB_OUTPUT
          echo "org=$(cat raw_net_info | jq -r '.org')" >> $GITHUB_OUTPUT
          echo "postal=$(cat raw_net_info | jq -r '.postal')" >> $GITHUB_OUTPUT
          echo "timezone=$(cat raw_net_info | jq -r '.timezone')" >> $GITHUB_OUTPUT

      - name: 加入Tailscale私有网络
        uses: tailscale/github-action@v3
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:githubactions
          version: latest

      - name: 查看IP地址
        id: get_local_ip
        run: |
          ip a
          LOCAL_IP=$(ip -o -4 addr list | awk '/100\./ {print $4}' | cut -d/ -f1)
          echo "提取到本地 IP: ${LOCAL_IP}"
          echo "local_ip=${LOCAL_IP}" >> $GITHUB_OUTPUT

      - name: 安装1Panel
        id: install_1panel  # 添加步骤ID用于输出变量
        run: |
          curl -sSL https://resource.fit2cloud.com/1panel/package/quick_start.sh -o quick_start.sh
          printf "2\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n" | sudo bash quick_start.sh
          
          # 捕获1Panel登录信息并设置为输出变量
          sudo 1pctl user-info > panel_info.txt
          PANEL_URL=$(awk '{sub(/\$LOCAL_IP/, "${{ steps.get_local_ip.outputs.local_ip }}"); print; exit}' panel_info.txt)
          echo $PANEL_URL
          PANEL_USER=$(awk 'NR==2 {print; exit}' panel_info.txt)
          echo $PANEL_USER
          PANEL_PASSWORD=$(awk 'NR==3 {print; exit}' panel_info.txt)
          echo $PANEL_PASSWORD
          
          echo "panel_url=${PANEL_URL}" >> $GITHUB_OUTPUT
          echo "panel_user=${PANEL_USER}" >> $GITHUB_OUTPUT
          echo "panel_password=${PANEL_PASSWORD}" >> $GITHUB_OUTPUT

      - name: 发送通知
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            大模型部署完成：
            公网IP: ${{ steps.check_server.outputs.public_ip }}
            城市: ${{ steps.check_server.outputs.city }}
            区域: ${{ steps.check_server.outputs.region }}
            国家: ${{ steps.check_server.outputs.country }}
            位置: ${{ steps.check_server.outputs.loc }}
            组织: ${{ steps.check_server.outputs.org }}
            邮编: ${{ steps.check_server.outputs.postal }}
            时区: ${{ steps.check_server.outputs.timezone }}
            本地IP: ${{ steps.get_local_ip.outputs.local_ip }}
            ${{ steps.install_1panel.outputs.panel_url }}
            ${{ steps.install_1panel.outputs.panel_user }}
            ${{ steps.install_1panel.outputs.panel_password }}
          
      - name: 启动SSH服务
        uses: mxschmitt/action-tmate@v3
